body{
  background-color: rgb(135, 135, 135);
}
.youtubeic{
  height: 7%;
  width: 55%;
  color: rgb(139, 139, 139);
  margin-top: 30px;
}
.leftside{
  float: left;
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: fixed;
  top: 0 ;
  left: 0;
  height: 100vh;
  width: 5%;
  
}
.head{
  
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(227, 226, 226);
  gap:85%;
}
.youtube{
  color: red;
  margin-left: 6%;
  height: auto;
  width: 2.5%;

}
input{
  border-radius:5px ;
  position: fixed;
  top: 2.4%;
  left:10%;
}
.Search{
  position: fixed;
  top: 2.7%;
  left: 19.5% ;
}
.topbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10%;
}
.login,.logout{
  height: auto;
  width: 35px;
  margin: 10px 0px;
}
.content{
display: flex;
justify-content: center;
align-items: center;
margin-left: 7%;
margin-top: 2%;
gap: 5%;
margin-right: 100px;
margin-bottom: 2%;
}
.content p{
  font-family: 'Times New Roman', Times, serif;
  
}
.video{
  background-color: rgb(215, 201, 201);
  height: 300px;
  width: 30%;
  padding:25px ;
  border-radius:15px ;
}
iframe{
  padding-left: 20px;
}




